@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(60, 60, 60);
}
#app {
  max-width: 920px;
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--main-bg-color);
}

:root {
  --main-primary-color: #577c8a;
  --main-sub-color: rgb(94, 113, 113);
  --main-rise-color: #d75455;
  --main-fall-color: #24936e;
  --main-bg-color: #2c4149;
  --van-primary-color: var(--main-primary-color) !important;
  --el-color-primary: var(--main-primary-color) !important;
}
